## Libraries

In [1]:
import pandas as pd

## Basic Exploration

### Loading Dataset

In [3]:
df=pd.read_csv('fraud_detection_transaction.csv')
df.head(10)

,Transaction_ID,User_ID,Transaction_Amount,Transaction_Type,Timestamp,Account_Balance,Device_Type,Location,Merchant_Category,IP_Address_Flag,...,Daily_Transaction_Count,Avg_Transaction_Amount_7d,Failed_Transaction_Count_7d,Card_Type,Card_Age,Transaction_Distance,Authentication_Method,Risk_Score,Is_Weekend,Fraud_Label
0,TXN_33553,USER_1834,39.79,pos,2023-08-14 19:30:00,93213.17,laptop,Sydney,Travel,0.0,...,7.0,437.63,3.0,Amex,65.0,883.17,Biometric,0.8494,0.0,0.0
1,TXN_9427,USER_7875,1.19,banktransfer,2023-06-07 04:01:00,75725.25,mobile,New York,Clothing,0.0,...,13.0,478.76,4.0,Mastercard,186.0,2203.36,Password,0.0959,0.0,1.0
2,TXN_199,USER_2734,28.96,online,2023-06-20 15:25:00,1588.96,tab,Mumbai,Restaurants,0.0,...,14.0,50.01,4.0,Visa,226.0,1909.29,Biometric,0.8400,0.0,1.0
3,TXN_12447,USER_2617,254.32,atm_withdrawal,2023-12-07 00:31:00,76807.20,tab,New York,Clothing,0.0,...,8.0,182.48,4.0,Visa,76.0,1311.86,OTP,0.7935,0.0,1.0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,TXN_42724,USER_6852,168.55,online,2023-06-05 20:55:00,33236.94,laptop,Tokyo,Restaurants,0.0,...,3.0,226.85,2.0,Discover,51.0,1725.64,OTP,0.0504,0.0,0.0
6,TXN_10822,USER_5052,3.79,pos,2023-11-07 01:18:00,86834.18,tab,London,Restaurants,0.0,...,2.0,298.35,2.0,Mastercard,168.0,3757.19,Password,0.0875,0.0,0.0
7,TXN_49498,USER_4660,7.08,atm_withdrawal,2023-02-25 03:43:00,45826.27,tab,London,Restaurants,0.0,...,3.0,164.38,4.0,Discover,182.0,1764.66,Biometric,0.5326,0.0,1.0
8,TXN_4144,USER_1584,34.25,atm_withdrawal,2023-03-09 22:51:00,94392.35,tab,Tokyo,Clothing,0.0,...,7.0,90.02,3.0,Visa,24.0,550.38,Biometric,0.1347,1.0,0.0
9,TXN_36958,USER_9498,16.24,pos,2023-09-20 17:27:00,91859.97,mobile,Mumbai,Travel,0.0,...,6.0,474.42,1.0,Mastercard,124.0,720.91,PIN,0.3394,0.0,0.0

In [4]:
df.tail(10)

,Transaction_ID,User_ID,Transaction_Amount,Transaction_Type,Timestamp,Account_Balance,Device_Type,Location,Merchant_Category,IP_Address_Flag,...,Daily_Transaction_Count,Avg_Transaction_Amount_7d,Failed_Transaction_Count_7d,Card_Type,Card_Age,Transaction_Distance,Authentication_Method,Risk_Score,Is_Weekend,Fraud_Label
50990,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50991,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50992,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50993,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50994,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### General Information

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51000 entries, 0 to 50999
Data columns (total 21 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Transaction_ID                47500 non-null  object
 1   User_ID                       47500 non-null  object
 2   Transaction_Amount            45000 non-null  float64
 3   Transaction_Type              47500 non-null  object
 4   Timestamp                     47500 non-null  object
 5   Account_Balance               45000 non-null  float64
 6   Device_Type                   47500 non-null  object
 7   Location                      47500 non-null  object
 8   Merchant_Category             47500 non-null  object
 9   IP_Address_Flag               45000 non-null  float64
 10  Previous_Fraudulent_Activity  45000 non-null  float64
 11  Daily_Transaction_Count       45000 non-null  float64
 12  Avg_Transaction_Amount_7d     45000 non-null  float64
 13  Failed_Transaction_Count_7d   45000 non-null  float64
 14  Card_Type                     47500 non-null  object
 15  Card_Age                      45000 non-null  float64
 16  Transaction_Distance          45000 non-null  float64
 17  Authentication_Method         47500 non-null  object
 18  Risk_Score                    45000 non-null  float64
 19  Is_Weekend                    45000 non-null  float64
 20  Fraud_Label                   45000 non-null  float64
dtypes: float64(12), object(9)
memory usage: 8.2+ MB

In [6]:
df.describe()

,Transaction_Amount,Account_Balance,IP_Address_Flag,Previous_Fraudulent_Activity,Daily_Transaction_Count,Avg_Transaction_Amount_7d,Failed_Transaction_Count_7d,Card_Age,Transaction_Distance,Risk_Score,Is_Weekend,Fraud_Label
count,45000.000000,45000.000000,45000.000000,45000.000000,45000.000000,45000.000000,45000.000000,45000.000000,45000.000000,45000.000000,45000.000000,45000.000000
mean,99.338239,50305.437586,0.050378,0.097689,7.490933,255.418058,2.004178,120.037556,2500.190997,0.500923,0.300067,0.321444
std,98.529627,28746.271336,0.218726,0.296897,4.035836,141.375190,1.414302,68.981656,1443.247618,0.288039,0.458292,0.467036
min,0.000000,500.480000,0.000000,0.000000,1.000000,10.000000,0.000000,1.000000,0.250000,0.000100,0.000000,0.000000
25%,28.680000,25409.975000,0.000000,0.000000,4.000000,132.110000,1.000000,60.000000,1256.275000,0.253200,0.000000,0.000000
50%,69.675000,50438.080000,0.000000,0.000000,7.000000,256.495000,2.000000,120.000000,2492.325000,0.501950,0.000000,0.000000
75%,138.800000,75070.027500,0.000000,0.000000,11.000000,378.045000,3.000000,180.000000,3749.540000,0.748300,1.000000,1.000000
max,1174.140000,99997.940000,1.000000,1.000000,14.000000,500.000000,4.000000,239.000000,4999.930000,1.000000,1.000000,1.000000

### Types of Columns

In [12]:
numeric_cols= df.select_dtypes(include='number').columns
cat_cols= df.select_dtypes(include='object').columns
print('Numeric Columns:', numeric_cols)
print('Categorical Columns:',cat_cols)

Numeric Columns: Index(['Transaction_Amount', 'Account_Balance', 'IP_Address_Flag',
       'Previous_Fraudulent_Activity', 'Daily_Transaction_Count',
       'Avg_Transaction_Amount_7d', 'Failed_Transaction_Count_7d', 'Card_Age',
       'Transaction_Distance', 'Risk_Score', 'Is_Weekend', 'Fraud_Label'],
      dtype='object')
Categorical Columns: Index(['Transaction_ID', 'User_ID', 'Transaction_Type', 'Timestamp',
       'Device_Type', 'Location', 'Merchant_Category', 'Card_Type',
       'Authentication_Method'],
      dtype='object')

### Theoratical Questions

#### 1. Which column(s) would you convert to datetime type for analysis? Why?
##### I would convert Timestamp from object to Datetime as it is the main column for identifying frauds. It helps comapring transactions overtime. 

#### 2. How would you check the total number of unique users in the dataset?
##### User_ID column will help us identifying users as each user is assigned a uniques id.

#### 3. Why is it important to explore the dataset before performing analysis?
##### It helps us know the quality of data and explore different columns. Identify important columsn which play main role in analysis. Also it helps us identify nan values, outliers and duplicates. It also helps us understand data distribution and detect patterns.

### Selecting Data with loc and iloc Operations

In [16]:
df.iloc[:15,[0,1,2]]

   Transaction_ID    User_ID  Transaction_Amount
0       TXN_33553  USER_1834               39.79
1        TXN_9427  USER_7875                1.19
2         TXN_199  USER_2734               28.96
3       TXN_12447  USER_2617              254.32
4             NaN        NaN                 NaN
5       TXN_42724  USER_6852              168.55
6       TXN_10822  USER_5052                3.79
7       TXN_49498  USER_4660                7.08
8        TXN_4144  USER_1584               34.25
9       TXN_36958  USER_9498               16.24
10      TXN_43106  USER_2848              367.50
11      TXN_38695  USER_6860               50.44
12       TXN_6188  USER_6728               55.50
13       TXN_1414  USER_6655               54.09
14      TXN_18471  USER_7651                9.66

In [20]:
df.loc[df['Location']=='New York']

,Transaction_ID,User_ID,Transaction_Amount,Transaction_Type,Timestamp,Account_Balance,Device_Type,Location,Merchant_Category,IP_Address_Flag,...,Daily_Transaction_Count,Avg_Transaction_Amount_7d,Failed_Transaction_Count_7d,Card_Type,Card_Age,Transaction_Distance,Authentication_Method,Risk_Score,Is_Weekend,Fraud_Label
1,TXN_9427,USER_7875,1.19,banktransfer,2023-06-07 04:01:00,75725.25,mobile,New York,Clothing,0.0,...,13.0,478.76,4.0,Mastercard,186.0,2203.36,Password,0.0959,0.0,1.0
3,TXN_12447,USER_2617,254.32,atm_withdrawal,2023-12-07 00:31:00,76807.20,tab,New York,Clothing,0.0,...,8.0,182.48,4.0,Visa,76.0,1311.86,OTP,0.7935,0.0,1.0
14,TXN_18471,USER_7651,9.66,online,2023-06-20 17:15:00,12420.17,tab,New York,Electronics,0.0,...,6.0,173.97,0.0,Mastercard,5.0,762.21,OTP,0.0793,1.0,0.0
17,TXN_34304,USER_9413,1.58,banktransfer,2023-04-08 09:13:00,63076.36,laptop,New York,Clothing,0.0,...,13.0,309.49,1.0,Amex,47.0,2074.77,Biometric,0.3433,0.0,0.0
21,TXN_15908,USER_4615,203.97,atm_withdrawal,2023-06-18 23:36:00,73616.91,mobile,New York,Restaurants,1.0,...,4.0,482.20,4.0,Mastercard,173.0,4723.22,Password,0.8633,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49958,TXN_21777,USER_9244,6.75,pos,2023-10-23 17:09:00,88742.42,tab,New York,Restaurants,0.0,...,3.0,323.51,2.0,Amex,213.0,4922.37,PIN,0.8833,0.0,1.0
49961,TXN_41606,USER_1622,46.86,pos,2023-06-09 05:05:00,96645.68,laptop,New York,Electronics,0.0,...,11.0,130.83,4.0,Visa,150.0,4210.03,Password,0.4625,0.0,1.0
49963,TXN_3556,USER_9640,1.61,atm_withdrawal,2023-10-26 00:54:00,23957.80,mobile,New York,Clothing,0.0,...,14.0,323.36,1.0,Discover,11.0,2622.11,Password,0.2252,0.0,0.0
49974,TXN_25658,USER_4501,16.15,pos,2023-12-17 08:20:00,59799.64,mobile,New York,Travel,0.0,...,10.0,21.58,4.0,Mastercard,92.0,1228.40,OTP,0.1412,0.0,1.0
49992,TXN_37194,USER_5730,315.08,atm_withdrawal,2023-03-22 06:48:00,98126.81,tab,New York,Restaurants,0.0,...,11.0,53.74,1.0,Mastercard,138.0,1531.42,OTP,0.5323,0.0,0.0

In [22]:
df.loc[(df['Transaction_Amount']>5000) & (df['Risk_Score']>0.8)]

Empty DataFrame
Columns: [Transaction_ID, User_ID, Transaction_Amount, Transaction_Type, Timestamp, Account_Balance, Device_Type, Location, Merchant_Category, IP_Address_Flag, Previous_Fraudulent_Activity, Daily_Transaction_Count, Avg_Transaction_Amount_7d, Failed_Transaction_Count_7d, Card_Type, Card_Age, Transaction_Distance, Authentication_Method, Risk_Score, Is_Weekend, Fraud_Label]
Index: []

[0 rows x 21 columns]

#### 1. Selecting the last 5 columns for all rows?

##### You can select the last 5 columns using: **`df.iloc[:, -5:]`**.
##### This slices all rows and only the last five columns without naming them.

#### 2. Difference between `.loc` and `.iloc`?

##### **`.loc`** selects data by **labels** (row/column names).
##### **`.iloc`** selects data by **integer positions** (row/column numbers).

*Example:*
`df.loc[0:3, 'Age']` uses labels, while `df.iloc[0:3, 2]` uses index positions.

#### 3. Why indexing is important in large datasets?

Indexing makes data access, filtering, and lookup **much faster**.
It improves efficiency and reduces computation time when working with large datasets.

### GroupBy Operations

In [23]:
df.groupby('Location')['Transaction_Amount'].mean()

Location
London       99.292968
Mumbai       98.720377
New York    100.626155
Sydney      100.636845
Tokyo        97.466061
Name: Transaction_Amount, dtype: float64

In [24]:
df[df['Fraud_Label'] == 1].groupby('Transaction_Type')['Fraud_Label'].count()

Transaction_Type
atm_withdrawal    3629
banktransfer      3567
online            3621
pos               3648
Name: Fraud_Label, dtype: int64

In [25]:
df.groupby(['Device_Type', 'Card_Type'])['Risk_Score'].mean()

Device_Type  Card_Type
laptop       Amex          0.504725
             Discover      0.502775
             Mastercard    0.497650
             Visa          0.495268
mobile       Amex          0.498542
             Discover      0.503095
             Mastercard    0.499092
             Visa          0.495998
tab          Amex          0.512560
             Discover      0.503447
             Mastercard    0.499146
             Visa          0.499102
Name: Risk_Score, dtype: float64

In [26]:
df.groupby(['Device_Type', 'Card_Type'])['Risk_Score'] \
  .mean() \
  .sort_values(ascending=False)

Device_Type  Card_Type
tab          Amex          0.512560
laptop       Amex          0.504725
tab          Discover      0.503447
mobile       Discover      0.503095
laptop       Discover      0.502775
tab          Mastercard    0.499146
             Visa          0.499102
mobile       Mastercard    0.499092
             Amex          0.498542
laptop       Mastercard    0.497650
mobile       Visa          0.495998
laptop       Visa          0.495268
Name: Risk_Score, dtype: float64